@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.container {
  width: 96%;
  max-width: 1200px;
  margin-inline: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#popular-silder .swiper-button-prev::after {
  transform: scale(70%);
  border: #8b6f4e 3px solid;
  background-color: #fff !important;
  padding: 6px 10px;
  color: black;
}

#popular-silder .swiper-button-next::after {
  transform: scale(70%);
  border: #8b6f4e 3px solid;
  background-color: #fff !important;
  padding: 6px 10px;
  color: black;
}

#products-menu div[data-testid="flowbite-tooltip"] {
  background-color: #927d65;
}

#products-menu div[data-testid="flowbite-tooltip-target"] {
  width: 100%;
  cursor: pointer;
}

